<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" >Compras</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/inicio']" routerLinkActive="router-link-active" *ngIf="isAuth()">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/proveedores']" routerLinkActive="router-link-active" *ngIf="isAuth()">Proveedores</a>
      <a class="nav-item nav-link" [routerLink]="['/add-presupuesto']" routerLinkActive="router-link-active" *ngIf="isAuth()">Añadir presupuesto</a>
      <a class="nav-item nav-link" [routerLink]="['/presupuestos']" routerLinkActive="router-link-active" *ngIf="isAuth()">Presupuestos</a>
    </div>
  </div>
  <button class="btn btn-primary float-right" [routerLink]="['/inicio-de-sesion']" routerLinkActive="router-link-active" *ngIf="!isAuth()">Login</button>
  <button class="btn btn-danger float-right" (click)="logout()" routerLinkActive="router-link-active" *ngIf="isAuth()">Salir</button>
</nav>